.jumbotron{
  margin: 0;
  background: url(../images/cartoon.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top:400px;
}
.head{
  background-color: #b0b8c4;
}
.prop{
  padding:5%;
}
.about{
  padding: 5px;
  background-repeat: no-repeat;
}
.col-md-9{
  padding-right: 200px;
  padding-top: 0px;
}
.space2{
  height: 30%;
}
.player{
  float: right;
  padding: 2%;
}
